*.pyc
data
*.md~

/.DS_Store
/.ipynb_checkpoints/
/logs/

/output*

/weights/

/Untitled.ipynb

/babi/

/MemN2N.ipynb

.DS_Store

/web-demo/.DS_Store

/web-demo/js/lib/.DS_Store

/web-demo/.idea/.name
/web-demo/.idea/compiler.xml
/web-demo/.idea/copyright/profiles_settings.xml
/web-demo/.idea/encodings.xml
/web-demo/.idea/misc.xml
/web-demo/.idea/modules.xml
/web-demo/.idea/workspace.xml

/web-demo/web-demo.iml

/web-demo/.idea/uiDesigner.xml

/Untitled1.ipynb
