@import "jquery-ui.min.css";
@import "jquery-ui.structure.css";
@import "jquery-ui.theme.css";

.heading {
    text-align: center;
}

#demo-container {
    margin-top: 100px;
}

.progress-bar {
    color: black;
}