@import "jquery-ui.min.css";
@import "jquery-ui.structure.css";
@import "jquery-ui.theme.css";

.heading {
    text-align: center;
}

#demo-container {
    margin-top: 100px;
}

.progress-bar {
    color: black;
}

.story-load-btn {
    display: inline-block;
    margin-left: 10px;
}

.modal-body-content {
    overflow-y: scroll;
    height: 750px;
}

.modal-body-content .well {
    height: 250px;
    overflow-y: scroll;
}

.modal-body-content h4 {
    display: inline-block;
    margin-right: 10px;
}